.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2% 4%;
  height: 100%;
}

.info-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  min-height: 10%;
}

.buttons-container {
  flex: 0 0 auto;
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.editor-button {
  margin-left: auto;
}
