.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  height: 100%;
}

.buttons-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input-block{
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.code-block{
  flex: 1 1 auto;
}

.data-input,
.commands-input {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  resize: vertical;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  flex: 1 1 auto;
}

.data-input {
  height: 90px;
}
