.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2% 4%;
  height: 100%;
}

.buttons-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}

.label {
  margin-bottom: 3px;
  font-size: 22px;
}

.data-input {
  height: 125px;
  margin-bottom: 15px;
}

.commands-input {
  flex: 1 1 auto;
  margin-bottom: 15px;
}

.error-message {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  background-color: rgba(242, 37, 22, 0.25);
  border-radius: 2px;
  margin-bottom: 15px;
}

.inner-container{
  flex: 1 1 auto;
  min-height: 10%;
  display: flex;
  gap: 20px;
}

.inner-container > * {
  flex: 1 1 0;
}

.code-container{
  display: flex;
  flex-direction: column;
}
